@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.buttonWithShadow {
  box-shadow: 0 0 10px 2px rgb(255, 252, 252), 0 0 20px 4px rgb(229, 226, 226);
  transform: scale(1.05);
}
.customModalTitle {
  font-family:Georgia, 'Times New Roman', Times, serif; /* Cambia la tipografía a Arial */
  font-size: 24px; /* Ajusta el tamaño del texto a 24px */
  /* Puedes agregar otros estilos según sea necesario */
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
