@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.buttonWithShadow {
  box-shadow: 0 0 10px 2px rgb(255, 252, 252), 0 0 20px 4px rgb(229, 226, 226);
  transform: scale(1.05);
}
.customModalTitle {
  font-family:Georgia, 'Times New Roman', Times, serif; /* Cambia la tipografía a Arial */
  font-size: 24px; /* Ajusta el tamaño del texto a 24px */
  /* Puedes agregar otros estilos según sea necesario */
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: white;
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
  }
}

/* styles.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000d5;
}

.form-side {
  width: 400px; /* Ancho fijo del contenedor */
  background-color: #ffc579b2; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4 8px 10px rgba(0, 0, 0, 0.007);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  font-weight: bold;
}

form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Ocupa el ancho completo del input */
}

form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  width: 100%; /* Ocupa el ancho completo del button */
}

.registro{
  background-color: #000000;
  width: 150px;
  margin-top: 10px;
}
/* Agrega más estilos según sea necesario */
